absl-py==2.1.0
annotated-types==0.7.0
anyio==4.4.0
astunparse==1.6.3
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.7
contourpy==1.3.0
cycler==0.12.1
decorator==4.4.2
deepface==0.0.93
dnspython==2.6.1
dominate==2.9.1
email_validator==2.2.0
et-xmlfile==1.1.0
facenet-pytorch==2.6.0
fastapi==0.111.1
fastapi-cli==0.0.4
fer==22.5.1
ffmpeg==1.4
filelock==3.16.1
fire==0.7.0
Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2024.9.0
gast==0.6.0
gdown==5.2.0
geographiclib==2.0
geopy==2.4.1
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.66.2
gunicorn==23.0.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.7
imageio==2.35.1
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
jax==0.4.34
jaxlib==0.4.34
Jinja2==3.1.4
joblib==1.4.2
keras==3.6.0
keyboard==0.13.5
kiwisolver==1.4.7
libclang==18.1.1
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mediapipe==0.10.14
ml-dtypes==0.4.1
moviepy==1.0.3
mpmath==1.3.0
mtcnn==1.0.0
namex==0.0.8
networkx==3.4
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.0
packaging==24.1
pandas==2.2.2
pillow==10.2.0
playsound==1.3.0
proglog==0.1.10
protobuf==4.25.5
psutil==6.0.0
pycaw==20240210
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pygame==2.6.1
Pygments==2.18.0
PyMySQL==1.1.1
pyparsing==3.1.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
retina-face==0.0.17
rich==13.7.1
scipy==1.14.1
setuptools==75.1.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sounddevice==0.5.0
soupsieve==2.6
SQLAlchemy==2.0.36
starlette==0.37.2
sympy==1.13.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.5.0
tf_keras==2.17.0
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.5
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uvicorn==0.30.1
visitor==0.1.3
watchfiles==0.22.0
websockets==12.0
Werkzeug==3.0.4
wheel==0.44.0
wrapt==1.16.0
